DuplexWcfSource/GPH_QuickMessageServiceClient/GPH_QuickMessageServiceClient/Service References/ServiceReference1/GPH_QuickMessageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="GPH_QuickMessageServiceLib" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="GPH_QuickMessageServiceLib" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="GPH_QuickMessageServiceLib/Imports">
      <xsd:import schemaLocation="http://localhost:8084/GPH_QuickMessageService?xsd=xsd0" namespace="GPH_QuickMessageServiceLib" />
      <xsd:import schemaLocation="http://localhost:8084/GPH_QuickMessageService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8084/GPH_QuickMessageService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GPH_QuickMessageService_JoinTheConversation_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinTheConversation" />
  </wsdl:message>
  <wsdl:message name="GPH_QuickMessageService_JoinTheConversation_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinTheConversationResponse" />
  </wsdl:message>
  <wsdl:message name="GPH_QuickMessageService_ReceiveMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveMessage" />
  </wsdl:message>
  <wsdl:message name="GPH_QuickMessageService_LeaveTheConversation_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveTheConversation" />
  </wsdl:message>
  <wsdl:message name="GPH_QuickMessageService_LeaveTheConversation_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveTheConversationResponse" />
  </wsdl:message>
  <wsdl:message name="GPH_QuickMessageService_NotifyUserJoinedTheConversation_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyUserJoinedTheConversation" />
  </wsdl:message>
  <wsdl:message name="GPH_QuickMessageService_NotifyUserOfMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyUserOfMessage" />
  </wsdl:message>
  <wsdl:message name="GPH_QuickMessageService_NotifyUserLeftTheConversation_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyUserLeftTheConversation" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="GPH_QuickMessageService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="JoinTheConversation">
      <wsdl:input wsaw:Action="GPH_QuickMessageServiceLib/GPH_QuickMessageService/JoinTheConversation" message="tns:GPH_QuickMessageService_JoinTheConversation_InputMessage" />
      <wsdl:output wsaw:Action="GPH_QuickMessageServiceLib/GPH_QuickMessageService/JoinTheConversationResponse" message="tns:GPH_QuickMessageService_JoinTheConversation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveMessage">
      <wsdl:input wsaw:Action="GPH_QuickMessageServiceLib/GPH_QuickMessageService/ReceiveMessage" message="tns:GPH_QuickMessageService_ReceiveMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LeaveTheConversation">
      <wsdl:input wsaw:Action="GPH_QuickMessageServiceLib/GPH_QuickMessageService/LeaveTheConversation" message="tns:GPH_QuickMessageService_LeaveTheConversation_InputMessage" />
      <wsdl:output wsaw:Action="GPH_QuickMessageServiceLib/GPH_QuickMessageService/LeaveTheConversationResponse" message="tns:GPH_QuickMessageService_LeaveTheConversation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyUserJoinedTheConversation">
      <wsdl:output wsaw:Action="GPH_QuickMessageServiceLib/GPH_QuickMessageService/NotifyUserJoinedTheConversation" message="tns:GPH_QuickMessageService_NotifyUserJoinedTheConversation_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyUserOfMessage">
      <wsdl:output wsaw:Action="GPH_QuickMessageServiceLib/GPH_QuickMessageService/NotifyUserOfMessage" message="tns:GPH_QuickMessageService_NotifyUserOfMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyUserLeftTheConversation">
      <wsdl:output wsaw:Action="GPH_QuickMessageServiceLib/GPH_QuickMessageService/NotifyUserLeftTheConversation" message="tns:GPH_QuickMessageService_NotifyUserLeftTheConversation_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>